* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #fff8ee;
}

h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

.main {
  width: 1180px;
  margin-inline: auto;
  margin-top: 20px;
  position: relative;
}

.container {
  display: flex;
}
.box-1 {
  width: 70%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  position: relative;
}
.box-2 {
  width: 25%;
  position: relative;
  margin-inline: 5%;
  top: -50px;
  border-radius: 20px;
  padding: 20px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-1 img {
  width: 250px;
  height: 250px;
  border-radius: 3%;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.item-content {
  text-align: left;
  display: flex;
  margin-top: -20px;
  flex-direction: column;
  position: relative;
}

.btn {
  text-align: center;
  top: -17px;
  position: relative;
  background-color: #ffffff;
  width: 55%;
  margin-inline: auto;
  height: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* display: none; */
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.main-btn {
  position: relative;
  background-color: #ffffff;
  width: 55%;
  margin-inline: auto;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  top: -50px;
  opacity: 0;
  /* display: none; */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.main-btn img {
  width: 20px;
  height: 20px;
  /* margin-left: 15px; */
}

/* Hover logic: hide .btn, show .main-btn
.btn:hover {
  /* display: none; */
  /* opacity: 0; */
/* } */
/* .main-btn:hover { */
  /* opacity: 1; */
/* }  */

.add-remove {
  position: relative;
}

.btn img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.item-content-1 {
  color: grey;
  font-size: 14px;
}

.item-content-2 {
  color: black;
  font-size: 18px;
}
.item-content-3 {
  color: rgba(165, 42, 42, 0.878);
  font-size: 20px;
  margin-bottom: 10px;
}

.box-2 img {
  width: 150px;
  height: 150px;
  align-self: center;
}

.info {
  font-size: 20px;
  font-weight: 700;
  color: rgba(165, 42, 42, 0.889);
}

.box-2-footer {
  align-self: center;
  font-size: 12px;
}

.box {
  width: 1220px;
  margin-inline: auto;
  margin-block: 30px;
  background-color: #fcf8f5;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.img:hover {
  border: 3px solid brown;
}

.cart-item {
  background-color: #fff4dc;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.6;
}

.cart-total {
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  color: #a52a2a;
}

